body{
  margin: 0;
  background-color: lightcoral;
}

.main_box{
  border: solid;
}

input {
  margin-bottom: 15px;
  margin-top: 10px;
  height: 35px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
  font-size: 20px;
  min-width:  400px;
}
textarea{
  font-size: 15px;
}

.card-content{
  overflow: auto;
border-radius: 5px;
}

.card-content::-webkit-scrollbar{
  display:none
}